@font-face {
  font-family: 'Tiempos Text';
  src: url('TiemposText-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Haas Unica Pro';
  src: url('NeueHaasUnicaPro.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
