<section class="mb4 center mw8 tc">
  <div class="img-container">
    <img src="https://remyanddave.imgix.net/accomodations.jpg?q=80&w=1600&auto=format&dpr=2" class="center">
  </div>
  <!-- <img src="/uploads/accomodations.jpg" class="center"> -->
</section>

<p class="mw7 lh-copy pl3 pr3 center serif f4">
  Healdsburg is a charming small town located in the heart of Sonoma County. Healdsburg's five miles are home to three of Sonoma’s major viticulture areas – Russian River, Alexander Valley, and Dry Creek. There are plenty of hotel and house rental options within walking distance to all of the weekend's events. Book fast as most of the hotels are small and fill up quickly.
</p>

<hr class="mw4 mv5">

<section class="center mw8 lh-copy pb6 events-grid mr2">
  <div class="">
    <a href="http://www.hotelhealdsburg.com" class="f3 sans dim link black-90">Hotel Healdsburg</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$$$</span>
    <p class="serif f4 lh-dk black-90">
      A modern hotel with a fabulous pool and spa right on the Healdsburg Square. This is where Remy and Dave are staying because they're special.
    </p>
    <p>
      <a href="http://www.hotelhealdsburg.com" class="link dim blue underline f4 serif">http://www.hotelhealdsburg.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://www.hotellesmars.com" class="f3 sans dim link black-90">Les Mars</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$$$</span>
    <p class="serif f4 lh-dk black-90">
      As a member of Relais & Chateaux, Hotel Les Mars brings the romance of French living to Northern California. It is located on the Healdsburg Square.
    </p>
    <p>
      <a href="https://www.hotellesmars.com" class="link dim blue underline f4 serif">https://www.hotellesmars.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://h2hotel.com" class="f3 sans dim link black-90">h2hotel</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$$</span>
    <p class="serif f4 lh-dk black-90">
      This is a sister hotel to Hotel Healdsburg, and &frac12; block from Barndiva.
    </p>
    <p>
      <a href="https://h2hotel.com" class="link dim blue underline f4 serif">https://h2hotel.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://www.healdsburgcottages.com" class="f3 sans dim link black-90">Healdsburg Modern Cottages</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$</span>
    <p class="serif f4 lh-dk black-90">
      These are standalone cottages right off the Healdsburg Square.
    </p>
    <p>
      <a href="http://www.healdsburgcottages.com" class="link dim blue underline f4 serif">http://www.healdsburgcottages.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://www.healdsburginn.com" class="f3 sans dim link black-90">Healdsburg Inn</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$</span>
    <p class="serif f4 lh-dk black-90">
      A charming small inn on the Healdsburg Square. Say hello to the mother of the groom.
    </p>
    <p>
      <a href="https://www.healdsburginn.com" class="link dim blue underline f4 serif">https://www.healdsburginn.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://www.healdsburginn.com" class="f3 sans dim link black-90">235 Apartments</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$</span>
    <p class="serif f4 lh-dk black-90">
      Here you will find spacious three bedroom apartments perfect for families or friends located &frac12; block from Barndiva.
    </p>
    <p>
      <a href="https://www.healdsburginn.com" class="link dim blue underline f4 serif">https://www.healdsburginn.com</a>
    </p>
  </div>

  <div class="">
    <a href="#" class="f3 sans dim link black-90">Dry Creek Inn</a>
    <span class="green fr mr2 mr4-ns f3 sans">$</span>
    <p class="serif f4 lh-dk black-90">
      This is the budget friendly option located 5 minutes away from the Healdsburg Square. A room block has been reserved. The password is "remy&dave".
    </p>
    <p>
      <a href="http://www.secure-res.com/res/vn4/cglogin.aspx?hotelid=1683&rlog=2761" class="link dim blue underline f4 serif">http://www.drycreekinn.com</a>
    </p>
  </div>
  <div class="">
    <a href="#" class="f3 sans dim link black-90">River Belle Inn</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$</span>
    <p class="serif f4 lh-dk black-90">
      This riverfront property is close enough for a nice quaint stroll to the plaza, yet provides an endless list of exclusive amenities that make guests feel special.
    </p>
    <p>
      <a href="http://www.secure-res.com/res/vn4/cglogin.aspx?hotelid=1683&rlog=2761" class="link dim blue underline f4 serif">https://www.riverbelleinn.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://www.airbnb.com/s/Healdsburg--CA" class="f3 sans dim link black-90">Airbnb</a> <span class="f3 sans black-90">&</span> <a href="https://www.vrbo.com/vacation-rentals/usa/california/wine-country/sonoma-county/russian-river/healdsburg" class="f3 sans dim link black-90">VRBO</a>
    <span class="green fr mr2 mr4-ns f3 sans">$$<span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span>$$$<span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span>$$$$</span>
    <p class="serif f4 lh-dk black-90">
      There are plenty of sharing economy options in Healdsburg on both websites.
    </p>
    <p>
      <a href="https://www.airbnb.com/s/Healdsburg--CA" class="link dim blue underline f4 serif">Airbnb</a><span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span><a href="https://www.vrbo.com/vacation-rentals/usa/california/wine-country/sonoma-county/russian-river/healdsburg" class="link dim blue underline f4 serif">VRBO</a>
    </p>
  </div>
</section>
