<section class="mb5 center mw8 tc">
  <!-- <img src="https://remyanddave.imgix.net/events.jpg?auto=format"> -->
  <img src="/uploads/events.jpg">
</section>
<section class="center mw7 lh-copy pl3 pr3 pb6 black-90">
  <span class="f3 sans">Friday, May 4</span><span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span><span class="f3 sans">Welcome Drinks</span>
  <div class="cf pv1">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f5 ml0 small-caps black-60">location</dd>
      <dd class="ml0 f4 serif"><a href="http://www.bansheewines.com" class="no-underline black-90 dim serif">Banshee</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f5 ml0 small-caps black-60">address</dd>
      <dd class="ml0 f4 serif"><a href="https://www.google.com/maps/place/Banshee+Wines/@38.6116242,-122.8720981,17z/data=!4m12!1m6!3m5!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!2sBanshee+Wines!8m2!3d38.6116242!4d-122.8699041!3m4!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!8m2!3d38.6116242!4d-122.8699041" class="no-underline black-90 dim serif">325 Center St.</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f5 ml0 small-caps black-60">time</dd>
      <dd class="ml0 f4 serif">7:30pm</dd>
    </dl>
  </div>
  <p class="f4 lh-dk serif">
    We will begin the weekend with drinks and some nibbles at <a href="http://www.bansheewines.com" class="link dim blue underline">Banshee</a>, right off the Healdsburg Square at <a href="https://www.google.com/maps/place/Banshee+Wines/@38.6116242,-122.8720981,17z/data=!4m12!1m6!3m5!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!2sBanshee+Wines!8m2!3d38.6116242!4d-122.8699041!3m4!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!8m2!3d38.6116242!4d-122.8699041" class="link dim blue underline">325 Center Street</a>. Feel free to stop by for a drink and a hug.
  </p>

  <hr class="mv5 mw4">

  <span class="f3 sans">Saturday, May 5</span><span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span><span class="f3 sans">The Big Day</span>
  <div class="cf pv1">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f5 ml0 small-caps black-60">location</dd>
      <dd class="ml0 f4"><a href="#" class="no-underline black-90 dim serif">Barndiva</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f5 ml0 small-caps black-60">address</dd>
      <dd class="ml0 f4"><a href="https://www.google.com/maps/place/Barndiva/@37.6,-95.665,4z/data=!4m5!3m4!1s0x80841731391f05c1:0xca17ae99d941164b!8m2!3d38.6096378!4d-122.869437" class="no-underline black-90 dim serif">231 Center St.</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f5 ml0 small-caps black-60">time</dd>
      <dd class="ml0 f4 serif">4:30pm</dd>
    </dl>
  </div>
  <p class="serif f4 lh-dk">
    We will be celebrating, dining, drinking, and dancing at <a href="http://www.barndiva.com" class="link dim blue underline">Barndiva</a>. You may arrive as early as 4:30pm, and the ceremony will begin at <mark>5:00pm</mark>. The address is <a href="https://www.google.com/maps/place/Barndiva/@37.6,-95.665,4z/data=!4m5!3m4!1s0x80841731391f05c1:0xca17ae99d941164b!8m2!3d38.6096378!4d-122.869437" class="link dim blue underline">231 Center Street</a>, and it's one block away from the Healdsburg Square. Be ready to party. Hard. There will most likely be an after party at a nearby bar. Dave will be wearing the coolest shoes ever.
  </p>

  <hr class="mv5 mw4">

  <span class="f3 sans">Sunday, May 6</span><span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span><span class="f3 sans">The Morning After</span>
  <div class="cf pv1">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f5 ml0 small-caps black-60">location</dd>
      <dd class="ml0 f4"><a href="https://www.google.com/maps/place/Healdsburg+Plaza/@38.6167635,-122.8756257,16z/data=!4m8!1m2!2m1!1shealdsburg+square+ca!3m4!1s0x80841733fdfa9edb:0xcbc1e76b154a636f!8m2!3d38.6107652!4d-122.8700302" class="no-underline black-90 dim serif">Healdsburg Square</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f5 ml0 small-caps black-60">time</dd>
      <dd class="ml0 f4 serif">10:00am</dd>
    </dl>
  </div>
  <p class="serif f4 lh-dk">
    Don't worry; we aren't forcing you to sit at a formal brunch with a hangover. We will meet at <a href="https://www.google.com/maps/place/Healdsburg+Plaza/@38.6167635,-122.8756257,16z/data=!4m8!1m2!2m1!1shealdsburg+square+ca!3m4!1s0x80841733fdfa9edb:0xcbc1e76b154a636f!8m2!3d38.6107652!4d-122.8700302" class="link dim blue underline">Healdsburg Square</a>, and provide pastries. For coffee we recommend grabbing a cup at <a href="https://www.google.com/maps/place/Flying+Goat+Coffee/@38.6114806,-122.8716621,17z/data=!3m1!4b1!4m5!3m4!1s0x80841733ee2539cf:0xac9d345f8190e6af!8m2!3d38.6114806!4d-122.8694734" class="link dim blue underline">Flying Goat Coffee</a>. It'll be easy to spot us.
  </p>
</section>
