<section class="mb5 center mw8 tc">
  <img src="/img/1000x400.png">
</section>
<section class="center mw6 lh-copy pl3 pr3 pb6 black-90">
  <span class="f4">Friday, May 4</span><span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span><span class="f4">Welcome Drinks</span>
  <div class="cf pv1">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">location</dd>
      <dd class="ml0"><a href="http://www.bansheewines.com" class="no-underline black-90 dim">Banshee</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">address</dd>
      <dd class="ml0"><a href="https://www.google.com/maps/place/Banshee+Wines/@38.6116242,-122.8720981,17z/data=!4m12!1m6!3m5!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!2sBanshee+Wines!8m2!3d38.6116242!4d-122.8699041!3m4!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!8m2!3d38.6116242!4d-122.8699041" class="no-underline black-90 dim">325 Center St.</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f6 ml0 small-caps black-60">time</dd>
      <dd class="ml0">7:30pm–9:30pm</dd>
    </dl>
  </div>
  <p>
    We will begin the weekend with wine and beer at <a href="http://www.bansheewines.com" class="link dim blue underline">Banshee</a>, a classy, sophisticated bar right off the Healdsburg Square at <a href="https://www.google.com/maps/place/Banshee+Wines/@38.6116242,-122.8720981,17z/data=!4m12!1m6!3m5!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!2sBanshee+Wines!8m2!3d38.6116242!4d-122.8699041!3m4!1s0x80841733f1c0f4d9:0x1fe28734c80dd29a!8m2!3d38.6116242!4d-122.8699041" class="link dim blue underline">325 Center Street</a>. Feel free to stop by for a drink and a hug.
  </p>

  <hr class="mv5 mw4">

  <span class="f4">Saturday, May 5</span><span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span><span class="f4">The Big Day</span>
  <div class="cf pv1">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">location</dd>
      <dd class="ml0"><a href="#" class="no-underline black-90 dim">Barndiva</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">address</dd>
      <dd class="ml0"><a href="https://www.google.com/maps/place/Barndiva/@37.6,-95.665,4z/data=!4m5!3m4!1s0x80841731391f05c1:0xca17ae99d941164b!8m2!3d38.6096378!4d-122.869437" class="no-underline black-90 dim">231 Center St.</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f6 ml0 small-caps black-60">time</dd>
      <dd class="ml0">4:30pm–11:30pm</dd>
    </dl>
  </div>
  <p>
    We will be celebrating, dining, drinking, dancing, and drinking at <a href="http://www.barndiva.com" class="link dim blue underline">Barndiva</a>. The address is <a href="https://www.google.com/maps/place/Barndiva/@37.6,-95.665,4z/data=!4m5!3m4!1s0x80841731391f05c1:0xca17ae99d941164b!8m2!3d38.6096378!4d-122.869437" class="link dim blue underline">231 Center Street</a>, and it's one block away from the Healdsburg Square. Be ready to party. Hard. Depending on the bride's mood, there will most likely be an after-party at a nearby bar. Dave will be wearing the coolest shoes ever.
  </p>

  <hr class="mv5 mw4">

  <span class="f4">Sunday, May 6</span><span class="f4 black-40">&nbsp;&nbsp;·&nbsp;&nbsp;</span><span class="f4">The Morning After</span>
  <div class="cf pv1">
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ml0 small-caps black-60">location</dd>
      <dd class="ml0"><a href="https://www.google.com/maps/place/Healdsburg+Plaza/@38.6167635,-122.8756257,16z/data=!4m8!1m2!2m1!1shealdsburg+square+ca!3m4!1s0x80841733fdfa9edb:0xcbc1e76b154a636f!8m2!3d38.6107652!4d-122.8700302" class="no-underline black-90 dim">Healdsburg Square</a></dd>
    </dl>
    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title">
      <dd class="f6 ml0 small-caps black-60">time</dd>
      <dd class="ml0">10:00am–11:30pm</dd>
    </dl>
  </div>
  <p>
    Don't worry; we aren't forcing you to sit at a formal brunch with a hangover. We will set up a few tables on the <a href="https://www.google.com/maps/place/Healdsburg+Plaza/@38.6167635,-122.8756257,16z/data=!4m8!1m2!2m1!1shealdsburg+square+ca!3m4!1s0x80841733fdfa9edb:0xcbc1e76b154a636f!8m2!3d38.6107652!4d-122.8700302" class="link dim blue underline">Healdsburg Square</a>, and provide pastries and coffee. It'll be easy to spot us.
  </p>
</section>
