<section class="mb5 center mw8 tc">
  <img src="https://remyanddave.imgix.net/faq.jpg?auto=format">
</section>
<section class="center mw7 lh-copy pl3 pr3 pb6">
  <span class="f3 sans">An FAQ? Why?</span>
  <p class="f4 serif">
    There's always so many questions when a wedding is approaching. This page will be updated to address the questions that we receive.
  </p>


  <hr class="mw4 mv5">

  <span class="f3 sans">What is the wedding attire?</span>
  <p class="serif f4">
    Cocktail attire. Suits for men and cocktail dresses for women. Women, please bring a pashmina as it may get chilly during dinner.
  </p>

  <hr class="mw4 mv5">

  <span class="f3 sans">Is there transportation?</span>
  <p class="serif f4">
    All weekend festivities are walking distance within the town of Healdsburg. If you are staying outside of Healdsburg consider Lyft, a taxi, or a car service.
  </p>

  <hr class="mw4 mv5">

  <span class="f3 sans">This website is so fast! How did you do it?</span>
  <p class="serif f4">
    Long, thorough explanation coming soon.
  </p>

</section>
