<nav role="navigation" class="pa3 pa4-ns pt3-ns pb4-ns">
  <a class="link dim black b f3 serif tc db mt2 mb2 mb3-ns" href="/index" title="Home">Remy & Dave</a>
  <div class="tc nav-list">
    <a class="link dim black-80 f5 f5-ns dib mr3" href="/events" title="Events" id="events-link">Events</a>
    <a class="link dim black-80 f5 f5-ns dib mr3" href="/accomodations" title="Accomodations" id="accomodations-link">Accomodations</a>
    <a class="link dim black-80 f5 f5-ns dib mr3" href="/thingstodo" title="Things to Do" id="things-link">Things to Do</a>
    <a class="link dim black-80 f5 f5-ns dib mr3" href="/registry" title="Registry" id="registry-link">Registry</a>
    <a class="link dim black-80 f5 f5-ns dib" href="/faq" title="FAQ" id="faq-link">FAQ</a>
  </div>
</nav>
