<section class="mb4 center mw8 tc">
  <div class="img-container">
    <img src="https://remyanddave.imgix.net/registry.jpg?q=80&w=1600&auto=format&dpr=2">
  </div>
  <!-- <img src="/uploads/registry.jpg"> -->
</section>
<p class="mw7 lh-copy pl3 pr3 center serif f4">
  Your presence is most important to us, and we will be delighted to see you laugh and dance. However, if you would like to give anything in addition to your love, take a look below.
</p>

<hr class="mw4 mv5">

<section class="center mw8 lh-copy pb6 events-grid mr2">

  <div class="tc">
    <a href="http://hosting.giftregistryworks.com/grworks/registry.jsp?retailerid=185&cc=400001146033&languageId=0" class="dim"><img src="/uploads/gumps.svg" alt="Gumps logo" class="w-80"></a>
  </div>

  <div class="fix1 tc">
    <a href="https://www.williams-sonoma.com/registry/ktqwbrw9ng/registry-list.html" class="dim"><img src="/uploads/ws.svg" alt="Gumps logo" class="w-80"></a>
  </div>

</section>
