<section class="mb5 center mw8 tc">
  <img src="https://remyanddave.imgix.net/thingstodo.jpg?auto=format">
</section>

<p class="mw7 lh-copy pl3 pr3 center serif f4">
  Healdsburg has many options for restaurants, wineries, and things to do. Here are some of our favorites.
</p>


<hr class="mw4 mv5">

<!--p class="tc mv6 f3 sans">
  Places to Eat
</p-->

<section class="center mw8 lh-copy pb6 events-grid">
  <div class="">
    <a href="https://healdsburgshed.com" class="f3 sans dim link black-90">The Shed</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">restaurant</span>
    <p class="serif f4 lh-dk black-90">
      Shed Cafe brings together all of the elements we believe in: responsible farming, ingredient-driven cooking, and flavorful food. Perfect for a sit down lunch or to grab items for a picnic.
    </p>
    <p>
      <a href="https://healdsburgshed.com" class="link dim blue underline f4 serif">https://healdsburgshed.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://chalkboardhealdsburg.com" class="f3 sans dim link black-90">Chalkboard</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">restaurant</span>
    <p class="serif f4 lh-dk black-90">
      This dynamic contemporary American in Healdsburg’s Hotel Les Mars impresses with a terrific small-plates selection inspired by the seasons and crafted from just-picked ingredients.
    </p>
    <p>
      <a href="http://chalkboardhealdsburg.com" class="link dim blue underline f4 serif">http://chalkboardhealdsburg.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://campofina.com" class="f3 sans dim link black-90">Campo Fina</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">restaurant</span>
    <p class="serif f4 lh-dk black-90">
      This rrelaxed, all-day Healdsburg destination from the Scopa team turns out outstanding wood-oven-fired pizzas and creative Italian small plates.
    </p>
    <p>
      <a href="http://campofina.com" class="link dim blue underline f4 serif">http://campofina.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://www.valettehealdsburg.com" class="f3 sans dim link black-90">Valette</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">restaurant</span>
    <p class="serif f4 lh-dk black-90">
      The first-class Californian cuisine has locally sourced fare, a marvelous wine list and excellent service.
    </p>
    <p>
      <a href="http://www.valettehealdsburg.com" class="link dim blue underline f4 serif">http://www.valettehealdsburg.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://www.valettehealdsburg.com" class="f3 sans dim link black-90">Valette</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">restaurant</span>
    <p class="serif f4 lh-dk black-90">
      The first-class Californian cuisine has locally sourced fare, a marvelous wine list and excellent service.
    </p>
    <p>
      <a href="http://www.valettehealdsburg.com" class="link dim blue underline f4 serif">http://www.valettehealdsburg.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://www.yelp.com/biz/mateos-cocina-latina-healdsburg" class="f3 sans dim link black-90">Mateos Cocina Latina</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">restaurant</span>
    <p class="serif f4 lh-dk black-90">
      A delicous mix of Yucatan flavors and Sonoma ingredients.
    </p>
    <p>
      <a href="https://www.yelp.com/biz/mateos-cocina-latina-healdsburg" class="link dim blue underline f4 serif">A Long Yelp URL</a>
    </p>
  </div>

  <div class="">
    <a href="https://drycreekkitchen.com" class="f3 sans dim link black-90">Dry Creek Kitchen</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">restaurant</span>
    <p class="serif f4 lh-dk black-90">
      For fine dining, look no further than this quintessential Sonoma Valley original at the Hotel Healdsburg, where mega-chef Charlie Palmer's memorable take on Californian cuisine is served along with awesome wines.
    </p>
    <p>
      <a href="https://drycreekkitchen.com" class="link dim blue underline f4 serif">https://drycreekkitchen.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://www.oakvillegrocery.com" class="f3 sans dim link black-90">Oakville Grocery</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">sandwiches</span>
    <p class="serif f4 lh-dk black-90">
      This local grocer makes delicious sandwiches and carries local cheeses and charcuterie. Perfect for a picnic in the square.
    </p>
    <p>
      <a href="http://www.oakvillegrocery.com" class="link dim blue underline f4 serif">http://www.oakvillegrocery.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://flyinggoatcoffee.com" class="f3 sans dim link black-90">Flying Goat Coffee</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">coffee</span>
    <p class="serif f4 lh-dk black-90">
      Grab a cup of freshly roasted coffee. Ask if the bride or groom need one.
    </p>
    <p>
      <a href="http://flyinggoatcoffee.com" class="link dim blue underline f4 serif">http://flyinggoatcoffee.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://www.mauritsonwines.com" class="f3 sans dim link black-90">Mauritson Wines</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">winery</span>
    <p class="serif f4 lh-dk black-90">
      “Six generations and nearly 150 years later, we have earned a reputation for outstanding wines.”
    </p>
    <p>
      <a href="http://www.mauritsonwines.com" class="link dim blue underline f4 serif">http://www.mauritsonwines.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://www.alysianwines.com" class="f3 sans dim link black-90">Alysian Wines</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">winery</span>
    <p class="serif f4 lh-dk black-90">
      Makers of Sonoma County wine and spirits, including Alysian Wines, Alysian Vermouth, and Floodgate Wine Company. Schedule a tasting and tell Woody we sent you.
    </p>
    <p>
      <a href="http://www.alysianwines.com" class="link dim blue underline f4 serif">http://www.alysianwines.com</a>
    </p>
  </div>

  <div class="">
    <a href="http://www.lacrema.com" class="f3 sans dim link black-90">La Crema Tasting Room</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">winery</span>
    <p class="serif f4 lh-dk black-90">
      Located just off the square. Stop by and taste the chardonnays. The groom is also a member which makes him a bit fancier than you.
    </p>
    <p>
      <a href="http://www.lacrema.com" class="link dim blue underline f4 serif">http://www.lacrema.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://lambertbridge.com" class="f3 sans dim link black-90">Lambert Bridge Winery</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">winery</span>
    <p class="serif f4 lh-dk black-90">
      A family owned winery producing small lot, handcrafted, artisanal wines in the Dry Creek Valley.
    </p>
    <p>
      <a href="https://lambertbridge.com" class="link dim blue underline f4 serif">https://lambertbridge.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://www.arafanelliwinery.com" class="f3 sans dim link black-90">A. Rafanelli Vineyards</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">winery</span>
    <p class="serif f4 lh-dk black-90">
      Since the early 1900’s the Rafanelli family has been growing grapes and making wine in the Dry Creek Valley. Reservation required.
    </p>
    <p>
      <a href="https://www.arafanelliwinery.com" class="link dim blue underline f4 serif">https://www.arafanelliwinery.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://www.alltrails.com/us/california/healdsburg" class="f3 sans dim link black-90">Go on a hike</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">outdoors</span>
    <p class="serif f4 lh-dk black-90">
      Explore the best trails near Healdsburg with hand-curated trail maps and driving directions as well as detailed reviews and photos from hikers, campers and nature lovers like you.
    </p>
    <p>
      <a href="https://www.alltrails.com/us/california/healdsburg" class="link dim blue underline f4 serif">https://www.alltrails.com/us/california/healdsburg</a>
    </p>
  </div>

  <div class="">
    <a href="www.winecountrybikes.com/" class="f3 sans dim link black-90">Bike tour</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">outdoors</span>
    <p class="serif f4 lh-dk black-90">
      Spend a day bike touring California's Sonoma Wine Country on a "Classic Dry Creek Valley Bike Tour". A casual ride that visits our favorite wineries and features a wonderful picnic lunch.
    </p>
    <p>
      <a href="www.winecountrybikes.com/" class="link dim blue underline f4 serif">www.winecountrybikes.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://winecountrywalkingtours.com/" class="f3 sans dim link black-90">Walking tour</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">outdoors</span>
    <p class="serif f4 lh-dk black-90">
      Experience the best that Wine Country has to offer on guided walking tours of charming downtown Healdsburg.
    </p>
    <p>
      <a href="https://winecountrywalkingtours.com/" class="link dim blue underline f4 serif">https://winecountrywalkingtours.com</a>
    </p>
  </div>

  <div class="">
    <a href="https://hotelhealdsburg.com/spa/" class="f3 sans dim link black-90">Hotel Healdsburg Spa</a>
    <span class="f5 mt1 br-pill p-pill fr mr4 mb2 dib black-50 bg-light-gray small-caps">chill</span>
    <p class="serif f4 lh-dk black-90">
      The bridge and groom will definitely be there getting massages and facials.
    </p>
    <p>
      <a href="https://hotelhealdsburg.com/spa/" class="link dim blue underline f4 serif">https://hotelhealdsburg.com/spa</a>
    </p>
  </div>

</section>
